<a href="https://colab.research.google.com/github/chaitraDev/GenAI-for-marketing/blob/main/Cognizant_PP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import statistics as stat

In [5]:
ds = pd.read_excel("/content/customers_segmented_p2(pp).xlsx")

In [6]:
ds.columns

Index(['Unnamed: 0', 'CustomerID', 'CustGender', 'CustLocation', 'most_recent',
       'Gap', 'Num_Transactions', 'Sum_Transactions', 'Recency',
       'Monetary_Value', 'Frequency', 'RFM_Score', 'Relationship_Value', 'Age',
       'Cibil_Score', 'Income', 'Product', 'Relation_Value', 'CustomerGender',
       'CustomerLocation', 'Product_list'],
      dtype='object')

In [7]:
ds.isnull().sum()

Unnamed: 0            0
CustomerID            0
CustGender            0
CustLocation          0
most_recent           0
Gap                   0
Num_Transactions      0
Sum_Transactions      0
Recency               0
Monetary_Value        0
Frequency             0
RFM_Score             0
Relationship_Value    0
Age                   0
Cibil_Score           0
Income                0
Product               0
Relation_Value        0
CustomerGender        0
CustomerLocation      0
Product_list          0
dtype: int64

In [11]:
#ds["CustomerDOB"] = pd.to_datetime(ds.CustomerDOB, format='mixed').dt.date

In [12]:
#years = ([DOB.year for DOB in ds['CustomerDOB']])
#med_year = stat.median(years)
#med_year

In [13]:
#curr_year = pd.Timestamp.now().year
#med_age = curr_year - med_year
#ds['Age'].fillna(value=med_age, inplace = True)

In [14]:
#mode_gender = ds['CustGender'].mode()[0]

In [15]:
#ds['CustGender'].fillna(mode_gender, inplace= True)

In [16]:
#ds.isnull().sum()

In [17]:
#mode_location = ds['CustLocation'].mode()[0]

In [18]:
#ds['CustLocation'].fillna(mode_location, inplace=True)

In [19]:
#ds.drop(columns = ['CustomerDOB'], inplace = True)

In [37]:
ds.columns

Index(['Unnamed: 0', 'CustomerID', 'CustGender', 'CustLocation', 'most_recent',
       'Gap', 'Num_Transactions', 'Sum_Transactions', 'Recency',
       'Monetary_Value', 'Frequency', 'RFM_Score', 'Relationship_Value', 'Age',
       'Cibil_Score', 'Income', 'Product', 'Relation_Value', 'CustomerGender',
       'CustomerLocation', 'Product_list', 'CustAge'],
      dtype='object')

In [21]:
#ds.isnull().sum()

In [22]:
#ds.drop(columns  = ['CustAccountBalance'], inplace= True)

In [23]:
from sklearn import preprocessing

In [24]:
#l_e = preprocessing.LabelEncoder()

In [25]:
#ds['Relation_Value'] = l_e.fit_transform(ds['Relationship_Value'])

In [26]:
#ds.columns

In [27]:
#print(ds['Relationship_Value'].head())

In [28]:
#ds['CustomerGender'] = l_e.fit_transform(ds['CustGender'])

In [29]:
#ds['CustLocation'] = ds['CustLocation'].astype(str)
#ds["CustomerLocation"] = l_e.fit_transform(ds['CustLocation'])

In [30]:
#ds['Product_list'] = l_e.fit_transform(ds['Product'])

In [45]:
ds

,Unnamed: 0,CustomerID,CustGender,CustLocation,most_recent,Gap,Num_Transactions,Sum_Transactions,Recency,Monetary_Value,...,RFM_Score,Relationship_Value,Age,Cibil_Score,Income,Product,Relation_Value,CustomerGender,CustomerLocation,Product_list
0,0,C5110785,M,GURGAON,2016-09-26,2872,1,3874.05,5,5,...,515,high,1.0,840,0.002807,National_Pension_System,0,1,2657,4
1,1,C4893113,M,LUCKNOW,2016-03-08,3078,2,1426.27,1,4,...,124,low,1.0,593,0.000517,National_Pension_System,1,1,3960,4
2,2,C8539146,F,DURG,2016-02-08,3107,1,1400.00,1,4,...,114,low,1.0,742,0.001014,Senior Citizens Health Insurance,1,0,2131,8
3,3,C2039160,F,DURG,2016-02-08,3107,1,65.00,1,1,...,111,low,1.0,784,0.000047,National_Pension_System,1,0,2131,4
4,4,C2131351,F,DELHI,2016-02-08,3107,1,50.00,1,1,...,111,low,1.0,488,0.000036,National_Pension_System,1,0,1790,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539486,539486,C2119451,M,PANIPAT,2016-08-27,2910,1,245.00,3,2,...,312,med,0.0,471,0.000178,Fixed_Deposit,2,1,5392,0
539487,539487,C2637931,M,DELHI,2016-08-28,2907,1,1790.30,4,5,...,415,high,0.0,744,0.001297,Recurring Deposit,0,1,1790,5
539488,539488,C7031823,M,S O MUMBAI MULUND WEST,2016-08-09,2985,1,100.00,2,1,...,211,low,0.0,580,0.000072,Saving Account,1,1,6244,7
539489,539489,C7437941,M,DELHI,2016-10-09,2802,1,2000.00,5,5,...,515,high,0.0,349,0.001449,Travel Insurance,0,1,1790,9
539490,539490,C3337911,M,DELHI,2016-10-09,2802,1,499.00,5,3,...,513,high,0.0,764,0.000362,Recurring Deposit,0,1,1790,5

In [32]:
#ds.to_csv('/content/customers_segmented_p2.csv',index=False)

In [33]:
from sklearn.preprocessing import MinMaxScaler

In [34]:
mm = MinMaxScaler()

In [44]:
ds['Age'] = mm.fit_transform(ds[['Age']])
ds.drop(columns = ['CustAge'], inplace = True)

In [43]:
ds['Income'] = mm.fit_transform(ds[['Income']])
ds.drop(columns = ['CustIncome'], inplace = True)

In [46]:
ds['RFM_Score']= mm.fit_transform(ds[['RFM_Score']])

In [47]:
ds['Gap'] = mm.fit_transform(ds[['Gap']])

In [48]:
ds['Num_Transactions'] = mm.fit_transform(ds[['Num_Transactions']])

In [49]:
ds['Sum_Transactions'] = mm.fit_transform(ds[['Sum_Transactions']])

In [54]:
ds['Relation_Value'] = mm.fit_transform(ds[['Relation_Value']])
ds.drop(columns = ['rel_val'], inplace = True)

In [56]:
ds['Recency'] = mm.fit_transform(ds[['Recency']])

In [57]:
ds['Monetary_Value'] = mm.fit_transform(ds[['Monetary_Value']])

In [58]:
ds['Cibil_Score'] = mm.fit_transform(ds[['Cibil_Score']])

In [62]:
ds['CustomerLocation'] = mm.fit_transform(ds[['CustomerLocation']])

In [66]:
ds['Product_list'] = mm.fit_transform(ds[['Product_list']])

In [67]:
ds

,Unnamed: 0,CustomerID,CustGender,CustLocation,most_recent,Gap,Num_Transactions,Sum_Transactions,Recency,Monetary_Value,...,RFM_Score,Relationship_Value,Age,Cibil_Score,Income,Product,Relation_Value,CustomerGender,CustomerLocation,Product_list
0,0,C5110785,M,GURGAON,2016-09-26,0.208333,0.0,0.002807,1.00,1.00,...,0.909910,high,1.0,0.901503,0.002807,National_Pension_System,0.0,1,0.329734,0.4
1,1,C4893113,M,LUCKNOW,2016-03-08,0.821429,0.2,0.001034,0.00,0.75,...,0.029279,low,1.0,0.489149,0.000517,National_Pension_System,0.5,1,0.491437,0.4
2,2,C8539146,F,DURG,2016-02-08,0.907738,0.0,0.001014,0.00,0.75,...,0.006757,low,1.0,0.737896,0.001014,Senior Citizens Health Insurance,0.5,0,0.264458,0.8
3,3,C2039160,F,DURG,2016-02-08,0.907738,0.0,0.000047,0.00,0.00,...,0.000000,low,1.0,0.808013,0.000047,National_Pension_System,0.5,0,0.264458,0.4
4,4,C2131351,F,DELHI,2016-02-08,0.907738,0.0,0.000036,0.00,0.00,...,0.000000,low,1.0,0.313856,0.000036,National_Pension_System,0.5,0,0.222139,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539486,539486,C2119451,M,PANIPAT,2016-08-27,0.321429,0.0,0.000178,0.50,0.25,...,0.452703,med,0.0,0.285476,0.000178,Fixed_Deposit,1.0,1,0.669149,0.0
539487,539487,C2637931,M,DELHI,2016-08-28,0.312500,0.0,0.001297,0.75,1.00,...,0.684685,high,0.0,0.741235,0.001297,Recurring Deposit,0.0,1,0.222139,0.5
539488,539488,C7031823,M,S O MUMBAI MULUND WEST,2016-08-09,0.544643,0.0,0.000072,0.25,0.00,...,0.225225,low,0.0,0.467446,0.000072,Saving Account,0.5,1,0.774882,0.7
539489,539489,C7437941,M,DELHI,2016-10-09,0.000000,0.0,0.001449,1.00,1.00,...,0.909910,high,0.0,0.081803,0.001449,Travel Insurance,0.0,1,0.222139,0.9
539490,539490,C3337911,M,DELHI,2016-10-09,0.000000,0.0,0.000362,1.00,0.50,...,0.905405,high,0.0,0.774624,0.000362,Recurring Deposit,0.0,1,0.222139,0.5