<a href="https://colab.research.google.com/github/chaitraDev/GenAI-for-marketing/blob/main/Cognizant_PP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

In [ ]:
import pandas as pd
import statistics as stats

In [ ]:
ds = pd.read_excel("/content/cust_segmented(updated).xlsx")

# Removing Unwanted Columns

- We don't have products specific to gender,locations
- And the products also don't depend on the account balance
- Hence dropping location, gender, account balance columns

In [ ]:
ds.drop(columns = ['CustGender','CustAccountBalance','CustLocation'], inplace=True)

# Handling Nulls

In [ ]:
ds.isnull().sum()

CustomerID               0
CustomerDOB           1747
most_recent              0
Gap                      0
Num_Transactions         0
Sum_Transactions         0
Recency                  0
Monetary_Value           0
Frequency                0
RFM_Score                0
Relationship_Value       0
Age                   1747
Cibil_Score              0
Income                   0
dtype: int64

## In Age Column

- The original dataset has DOB not Age
- We need Age as feature not DOB
- Hence handling nulls only in Age column

- Replacing with mean, shifts distribution, hence imputing nulls in each with median age

In [ ]:
med_age = ds['Age'].median()
ds['Age'].fillna(value = med_age, inplace = True)

## In DOB column

In [ ]:
# DOB was only required for age, and no longer needed
ds.drop(columns = ['CustomerDOB'], inplace= True)

In [ ]:
ds.isnull().sum()

CustomerID            0
most_recent           0
Gap                   0
Num_Transactions      0
Sum_Transactions      0
Recency               0
Monetary_Value        0
Frequency             0
RFM_Score             0
Relationship_Value    0
Age                   0
Cibil_Score           0
Income                0
dtype: int64

In [ ]:
ds.columns

Index(['CustomerID', 'most_recent', 'Gap', 'Num_Transactions',
       'Sum_Transactions', 'Recency', 'Monetary_Value', 'Frequency',
       'RFM_Score', 'Relationship_Value', 'Age', 'Cibil_Score', 'Income'],
      dtype='object')