<a href="https://colab.research.google.com/github/chaitraDev/GenAI-for-marketing/blob/main/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import statistics as stat

In [3]:
ds = pd.read_excel("/content/customers_segmented_p2.xlsx")

In [4]:
ds.columns

Index(['Unnamed: 0', 'CustomerID', 'CustGender', 'CustLocation',
       'CustAccountBalance', 'most_recent', 'Gap', 'Num_Transactions',
       'Sum_Transactions', 'Recency', 'Monetary_Value', 'Frequency',
       'RFM_Score', 'Relationship_Value', 'Age', 'Cibil_Score', 'Income',
       'Product'],
      dtype='object')

In [5]:
ds.isnull().sum()

Unnamed: 0               0
CustomerID               0
CustGender             540
CustLocation            87
CustAccountBalance    1194
most_recent              0
Gap                      0
Num_Transactions         0
Sum_Transactions         0
Recency                  0
Monetary_Value           0
Frequency                0
RFM_Score                0
Relationship_Value       0
Age                      0
Cibil_Score              0
Income                   0
Product                  0
dtype: int64

In [6]:
#ds["CustomerDOB"] = pd.to_datetime(ds.CustomerDOB, format='mixed').dt.date

In [7]:
#years = ([DOB.year for DOB in ds['CustomerDOB']])
#med_year = stat.median(years)
#med_year

In [8]:
#curr_year = pd.Timestamp.now().year
#med_age = curr_year - med_year
#ds['Age'].fillna(value=med_age, inplace = True)

In [9]:
mode_gender = ds['CustGender'].mode()[0]

In [10]:
ds['CustGender'].fillna(mode_gender, inplace= True)

In [11]:
ds.isnull().sum()

Unnamed: 0               0
CustomerID               0
CustGender               0
CustLocation            87
CustAccountBalance    1194
most_recent              0
Gap                      0
Num_Transactions         0
Sum_Transactions         0
Recency                  0
Monetary_Value           0
Frequency                0
RFM_Score                0
Relationship_Value       0
Age                      0
Cibil_Score              0
Income                   0
Product                  0
dtype: int64

In [12]:
mode_location = ds['CustLocation'].mode()[0]

In [13]:
ds['CustLocation'].fillna(mode_location, inplace=True)

In [14]:
#ds.drop(columns = ['CustomerDOB'], inplace = True)

In [15]:
ds.columns

Index(['Unnamed: 0', 'CustomerID', 'CustGender', 'CustLocation',
       'CustAccountBalance', 'most_recent', 'Gap', 'Num_Transactions',
       'Sum_Transactions', 'Recency', 'Monetary_Value', 'Frequency',
       'RFM_Score', 'Relationship_Value', 'Age', 'Cibil_Score', 'Income',
       'Product'],
      dtype='object')

In [16]:
ds.isnull().sum()

Unnamed: 0               0
CustomerID               0
CustGender               0
CustLocation             0
CustAccountBalance    1194
most_recent              0
Gap                      0
Num_Transactions         0
Sum_Transactions         0
Recency                  0
Monetary_Value           0
Frequency                0
RFM_Score                0
Relationship_Value       0
Age                      0
Cibil_Score              0
Income                   0
Product                  0
dtype: int64

In [17]:
ds.drop(columns  = ['CustAccountBalance'], inplace= True)

In [18]:
from sklearn import preprocessing

In [19]:
l_e = preprocessing.LabelEncoder()

In [20]:
ds['Relation_Value'] = l_e.fit_transform(ds['Relationship_Value'])

In [21]:
ds.columns

Index(['Unnamed: 0', 'CustomerID', 'CustGender', 'CustLocation', 'most_recent',
       'Gap', 'Num_Transactions', 'Sum_Transactions', 'Recency',
       'Monetary_Value', 'Frequency', 'RFM_Score', 'Relationship_Value', 'Age',
       'Cibil_Score', 'Income', 'Product', 'Relation_Value'],
      dtype='object')

In [22]:
print(ds['Relationship_Value'].head())

0    high
1     low
2     low
3     low
4     low
Name: Relationship_Value, dtype: object

In [23]:
ds['CustomerGender'] = l_e.fit_transform(ds['CustGender'])

In [27]:
ds['CustLocation'] = ds['CustLocation'].astype(str)
ds["CustomerLocation"] = l_e.fit_transform(ds['CustLocation'])

In [29]:
ds['Product_list'] = l_e.fit_transform(ds['Product'])

In [30]:
ds

,Unnamed: 0,CustomerID,CustGender,CustLocation,most_recent,Gap,Num_Transactions,Sum_Transactions,Recency,Monetary_Value,...,RFM_Score,Relationship_Value,Age,Cibil_Score,Income,Product,Relation_Value,CustomerGender,CustomerLocation,Product_list
0,0,C5110785,M,GURGAON,2016-09-26,2872,1,3874.05,5,5,...,515,high,94,840,3874.050,National_Pension_System,0,1,2657,4
1,1,C4893113,M,LUCKNOW,2016-03-08,3078,2,1426.27,1,4,...,124,low,94,593,713.135,National_Pension_System,1,1,3960,4
2,2,C8539146,F,DURG,2016-02-08,3107,1,1400.00,1,4,...,114,low,94,742,1400.000,Senior Citizens Health Insurance,1,0,2131,8
3,3,C2039160,F,DURG,2016-02-08,3107,1,65.00,1,1,...,111,low,94,784,65.000,National_Pension_System,1,0,2131,4
4,4,C2131351,F,DELHI,2016-02-08,3107,1,50.00,1,1,...,111,low,94,488,50.000,National_Pension_System,1,0,1790,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539486,539486,C2119451,M,PANIPAT,2016-08-27,2910,1,245.00,3,2,...,312,med,18,471,245.000,Fixed_Deposit,2,1,5392,0
539487,539487,C2637931,M,DELHI,2016-08-28,2907,1,1790.30,4,5,...,415,high,18,744,1790.300,Recurring Deposit,0,1,1790,5
539488,539488,C7031823,M,S O MUMBAI MULUND WEST,2016-08-09,2985,1,100.00,2,1,...,211,low,18,580,100.000,Saving Account,1,1,6244,7
539489,539489,C7437941,M,DELHI,2016-10-09,2802,1,2000.00,5,5,...,515,high,18,349,2000.000,Travel Insurance,0,1,1790,9
539490,539490,C3337911,M,DELHI,2016-10-09,2802,1,499.00,5,3,...,513,high,18,764,499.000,Recurring Deposit,0,1,1790,5